
p {
  font-family: Times New Roman;
}


#slide1 {
  background-image: url(../img/berlin.png);
  background-size:cover;
  background-repeat:no-repeat;
}

#openingtext {
  grid-column: 1/3;
  grid-row: 1/3;
  position: absolute;
  font-size: 17px;
  color: #BF5B45;
  max-width: 30em;
  top: 2em;
  left: 8%;
  z-index: 2;
  opacity: 1;
  margin-right: 10%;
}

#berlintitle{
  grid-column: 1/3;
  grid-row: 1/3;
  left: 40%;
  bottom: 35%;
  position: absolute;
  font-size: 35px;
  color: #BF5B45;
  opacity: 1;
}

@supports (grid-area:auto) {
  .grid1{
    display: grid;
    grid-template-columns:300px 300px 300px 300px;
    grid-template-rows: 300px 300px 300px 300px;
  }

/* #slide2 {
  background-image: url(../img/blue.jpg);
  background-size:cover;
  background-repeat:no-repeat;
} */


#pavementtext {
  grid-column: 1/3;
  grid-row: 1/2;
  position: absolute;
  font-size: 18px;
  color: #191970;
  max-width: 60em;
  top: 3%;
  left: 7%;
  opacity: 1;
  margin-right: 10%;
  display: block;
  margin-bottom: 5%;
float:left;
}

.block {
  display: block;
}


.plus{
  background-image: url("../img/redman.png");
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat:no-repeat;

}

div.plus {
  grid-column: 2/3;
  grid-row: 2/2;
}

div.plus.minus {
  grid-column: 2/3;
  grid-row: 2/2;
      display:block;
}

.plus.minus{
  background-image: url("../img/greenman.png");
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat:no-repeat;
}


.moretext{
  left: 35%;
  bottom: 27%;
  visibility: hidden;
}



#chart_div {
  display:block;
  margin-top: 10em;
  margin-bottom: 2em;
float:left;
grid-column: 2/3;
grid-row: 2/2;
}
